.action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font: 500 1.25rem 'Fira Code', sans-serif;
    text-decoration: none;
    margin-right: 1.875rem;
}

.action::before {
    content: "";
    background-color: #FFA21F;
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.625rem;
}