.main-button {
    cursor: pointer;
    display: inline-block;
    font: 500 1.25rem 'Fira Code', sans-serif;
    text-decoration: none;
    background-color: #F58F00;
    padding: 1rem 1.25rem;
    color: #FFF;
    box-shadow: 5px 5px 0px #000;
    text-shadow: 1.5px 1.5px 0 #00000040;
    transition: transform 250ms cubic-bezier(0.22, 0.61, 0.36, 1), background-color 100ms ease-in-out;
}

.main-button:hover {
    transform: scale(1.05);
}

.main-button:active {
    color: #FFF;
    background-color: #E08300;
}

.main-button.-full {
    width: 100%;
    font: 300 1.875rem 'Fira Code', sans-serif;
}

.main-button.-full:hover {
    transform: scale(1.02);
}
