.main-section {
    background-color: #F58F00;
    border-bottom: 10px solid #7F3FDE;
    padding: 3.125rem 0;
}

.main-section .main-title {
    margin-bottom: 3.75rem;
}

.main-section.-bgBlack {
    background-color: #000;
    border-color: #F58F00;
}

.main-section.-bgSecond {
    background-color: #261719;
    border-color: #000;
}