.main-section {
    background-color: #FFA21F;
    border-bottom: 10px solid #7F3FDE;
    padding: 3.125rem;
}

.main-section .main-title {
    margin-bottom: 3.75rem;
}

.main-section.-bgBlack {
    background-color: #000;
    border-color: #FFA21F;
}