.skill-tech {
    display: flex;
    align-items: center;
    font: 1.625rem "Press Start 2P", sans-serif;
    color: #FFF;
}

.skill-tech .icon {
    width: 5.625rem;
    margin-right: 1.625rem;
}

.skill-tech .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tech .title {
    margin-bottom: 0.625rem;
}